<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Users </title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link rel="icon" href="{{ url_for('static', filename='img/Logo.png') }}">
  <link href="" rel="apple-touch-icon">
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/quill/quill.snow.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/quill/quill.bubble.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/simple-datatables/style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename="css/style.css") }}" rel="stylesheet">
</head>
<body>
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{{ url_for('index') }}"class="logo d-flex align-items-center">
        <img src="{{ url_for('static', filename='img/Logo.png') }}" alt="">
        <span class="d-none d-lg-block">Secure Trend</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>  
    </nav>
  </header>
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('index') }}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link " href="{{ url_for('users_profile') }}">
          <i class="bi bi-person"></i>
          <span>About</span>
        </a>
      </li>
  </aside>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>About</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">About</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <div class="row">
      <div class="col-xl-4">
        <div class="card">
          <div class="card-body profile-card pt-3 d-flex flex-column align-items-center">
            <img src="{{ url_for('static', filename='img/Nishant.jpg') }}" alt="Profile" class="rounded-circle" style="max-width: 90px;">
            <h2 style="font-size: 20px;">Nishant Kumar</h2>
            <h3 style="font-size: 16px;">Full Stack Developer</h3>
            <div class="social-links mt-2">
              <a href="#" class="twitter"><i class="bi bi-twitter" style="font-size: 18px;"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook" style="font-size: 18px;"></i></a>
              <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram" style="font-size: 18px;"></i></a>
              <a href="https://www.linkedin.com/in/nishant-kumar-823309248?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="linkedin"><i class="bi bi-linkedin" style="font-size: 18px;"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card">
          <div class="card-body profile-card pt-3 d-flex flex-column align-items-center">
            <img src="{{ url_for('static', filename='img/.jpg') }}" alt="Profile" class="rounded-circle" style="max-width: 90px;">
            <h2 style="font-size: 20px;">Shrikanth </h2>
            <h3 style="font-size: 16px;">Machine Learning Engineer</h3>
            <div class="social-links mt-2">
              <a href="#" class="twitter"><i class="bi bi-twitter" style="font-size: 18px;"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook" style="font-size: 18px;"></i></a>
              <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram" style="font-size: 18px;"></i></a>
              <a href="http://linkedin.com/in/yashcshetty" class="linkedin"><i class="bi bi-linkedin" style="font-size: 18px;"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4">
        <div class="card">
          <div class="card-body profile-card pt-3 d-flex flex-column align-items-center">
            <img src="{{ url_for('static', filename='img/.jpg') }}" alt="Profile" class="rounded-circle" style="max-width: 80px;">
            <h2 style="font-size: 20px;">Shravitha shetty</h2>
            <h3 style="font-size: 16px;">Data Analyst</h3>
            <div class="social-links mt-2">
              <a href="#" class="twitter"><i class="bi bi-twitter" style="font-size: 18px;"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook" style="font-size: 18px;"></i></a>
              <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram" style="font-size: 18px;"></i></a>
              <a href="https://www.linkedin.com/in/sudarshan-t-bhat-06b72b249/" class="linkedin"><i class="bi bi-linkedin" style="font-size: 18px;"></i></a>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-xl-4">
        <div class="card">
          <div class="card-body profile-card pt-3 d-flex flex-column align-items-center">
            <img src="{{ url_for('static', filename='img/.jpg') }}" alt="Profile" class="rounded-circle" style="max-width: 80px;">
            <h2 style="font-size: 20px;">Bharath</h2>
            <h3 style="font-size: 16px;">Web Designer</h3>
            <div class="social-links mt-2">
              <a href="#" class="twitter"><i class="bi bi-twitter" style="font-size: 18px;"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook" style="font-size: 18px;"></i></a>
              <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram" style="font-size: 18px;"></i></a>
              <a href="https://www.linkedin.com/in/vikhyath-rai-ms" class="linkedin"><i class="bi bi-linkedin" style="font-size: 18px;"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>        
    </section>
  </main>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> 
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>